absl-py==2.4.0
ackermann-msgs==2.0.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.9
action-tutorials-py==0.20.9
actionlib-msgs==4.9.1
akida==2.19.1
akida_models==1.13.1
ament-cmake-test==1.3.14
ament-copyright==0.12.15
ament-cppcheck==0.12.15
ament-cpplint==0.12.15
ament-flake8==0.12.15
ament-index-python==1.4.1
ament-lint==0.12.15
ament-lint-cmake==0.12.15
ament-package==0.14.2
ament-pep257==0.12.15
ament-uncrustify==0.12.15
ament-xmllint==0.12.15
angles==1.15.0
array_record==0.8.3
astunparse==1.6.3
attrs==26.1.0
audioread==3.1.0
backports.zstd==1.5.0
# Editable install with no version control (beginner-tutorials==0.0.0)
-e /home/samidunix/comp_robot_ws/build/beginner_tutorials
bond==4.1.4
brotli==1.2.0
# Editable install with no version control (bug-path-planning==0.0.0)
-e /home/samidunix/comp_robot_ws/build/bug_path_planning
builtin-interfaces==1.2.2
cartographer-ros-msgs==2.0.9002
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cnn2snn==2.19.1
coloredlogs==15.0.1
composition-interfaces==1.2.2
contourpy==1.3.3
# Editable install with no version control (control==0.0.0)
-e /home/samidunix/comp_robot_ws/build/control
control-msgs==4.9.0
controller-manager==2.54.0
controller-manager-msgs==2.54.0
cv-bridge==3.2.1
cycler==0.12.1
decorator==5.3.1
demo-nodes-py==0.20.9
diagnostic-msgs==4.9.1
diagnostic-updater==4.0.6
dm-tree==0.1.10
docstring_parser==0.18.0
domain-coordinator==0.10.0
dwb-msgs==1.1.20
dynamixel-easy-sdk==4.0.3
dynamixel-sdk==4.0.3
dynamixel-workbench-msgs==2.1.0
einops==0.8.2
etils==1.14.0
example-interfaces==0.9.3
example-msgs==0.0.0
# Editable install with no version control (example-service==0.0.0)
-e /home/samidunix/comp_robot_ws/build/example_service
examples-rclpy-executors==0.15.5
examples-rclpy-minimal-action-client==0.15.5
examples-rclpy-minimal-action-server==0.15.5
examples-rclpy-minimal-client==0.15.5
examples-rclpy-minimal-publisher==0.15.5
examples-rclpy-minimal-service==0.15.5
examples-rclpy-minimal-subscriber==0.15.5
flatbuffers==25.12.19
fonttools==4.63.0
fsspec==2026.4.0
gast==0.7.0
gazebo-msgs==3.9.0
generate-parameter-library-py==0.7.1
geometry-msgs==4.9.1
google-pasta==0.2.0
googleapis-common-protos==1.75.0
graph-msgs==0.2.0
# Editable install with no version control (grid-planners-demo==0.0.0)
-e /home/samidunix/comp_robot_ws/build/grid_planners_demo
grpcio==1.80.0
h5py==3.14.0
humanfriendly==10.0
idna==3.15
image-geometry==3.2.1
imagecorruptions-imaug==1.1.3
ImageIO==2.37.3
imaug==0.4.2
imbalanced-learn==0.14.1
immutabledict==4.3.1
# Editable install with no version control (imu==0.0.0)
-e /home/samidunix/comp_robot_ws/build/imu
inflate64==1.0.4
interactive-markers==2.3.2
jams==0.3.5
Jinja2==3.1.6
joblib==1.5.3
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
keras==3.14.1
kiwisolver==1.5.0
laser-geometry==2.4.1
launch==1.0.14
launch-param-builder==0.1.1
launch-ros==0.19.13
launch-testing==1.0.14
launch-testing-ros==0.19.13
launch-xml==1.0.14
launch-yaml==1.0.14
lazy-loader==0.5
libclang==18.1.1
librosa==0.11.0
lifecycle-msgs==1.2.2
llvmlite==0.47.0
logging-demo==0.20.9
# Editable install with no version control (m2wr-description==0.0.0)
-e /home/samidunix/comp_robot_ws/build/m2wr_description
map-msgs==2.1.0
Markdown==3.10.2
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
message-filters==4.3.16
mir_eval==0.8.2
ml_dtypes==0.5.4
mne==1.12.1
moveit-configs-utils==2.5.9
moveit-msgs==2.2.1
mpmath==1.3.0
msgpack==1.1.2
mtcnn==0.1.1
multivolumefile==0.2.3
namex==0.1.0
nav-2d-msgs==1.1.20
nav-msgs==4.9.1
nav2-common==1.1.20
nav2-msgs==1.1.20
nav2-simple-commander==1.0.0
# Editable install with no version control (navigation==0.0.0)
-e /home/samidunix/comp_robot_ws/build/navigation
networkx==3.6.1
numba==0.65.1
numpy==1.26.4
object-recognition-msgs==2.0.0
octomap-msgs==2.0.1
onnx==1.21.0
onnx-ir==0.1.12
onnxruntime==1.23.2
onnxruntime_extensions==0.13.0
onnxscript==0.4.0
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
opt_einsum==3.4.0
optree==0.19.1
osrf-pycommon==2.1.6
packaging==26.2
pandas==3.0.3
# Editable install with no version control (path-follower==0.0.0)
-e /home/samidunix/comp_robot_ws/build/path_follower
pcl-msgs==1.0.0
pendulum-msgs==0.20.9
pillow==12.2.0
platformdirs==4.9.6
pooch==1.9.0
promise==2.3
protobuf==5.29.6
psutil==7.2.2
py7zr==1.1.0
pyarrow==24.0.0
pybcj==1.0.7
pycparser==3.0
pycryptodomex==3.23.0
pydub==0.25.1
Pygments==2.20.0
pyparsing==3.3.2
pyppmd==1.3.1
python-dateutil==2.9.0.post0
python-qt-binding==1.1.3
qt-dotgraph==2.2.5
qt-gui==2.2.5
qt-gui-cpp==2.2.5
qt-gui-py-common==2.2.5
quality-of-service-demo-py==0.20.9
quantizeml==1.2.3
rcl-interfaces==1.2.2
rclpy==3.3.21
rcutils==5.1.8
referencing==0.37.0
requests==2.34.2
resource-retriever==3.1.3
rich==15.0.0
rmw-dds-common==1.6.0
ros2action==0.18.18
ros2bag==0.15.16
ros2cli==0.18.18
ros2component==0.18.18
ros2controlcli==2.54.0
ros2doctor==0.18.18
ros2interface==0.18.18
ros2launch==0.19.13
ros2lifecycle==0.18.18
ros2multicast==0.18.18
ros2node==0.18.18
ros2param==0.18.18
ros2pkg==0.18.18
ros2plugin==5.1.4
ros2run==0.18.18
ros2service==0.18.18
ros2topic==0.18.18
rosbag2-interfaces==0.15.16
rosbag2-py==0.15.16
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.8
rosidl-cli==3.1.8
rosidl-cmake==3.1.8
rosidl-generator-c==3.1.8
rosidl-generator-cpp==3.1.8
rosidl-generator-py==0.14.6
rosidl-generator-rs==0.4.12
rosidl-parser==3.1.8
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.4
rosidl-typesupport-fastrtps-cpp==2.2.4
rosidl-typesupport-introspection-c==3.1.8
rosidl-typesupport-introspection-cpp==3.1.8
rpds-py==0.30.0
rpyutils==0.2.2
rqt-action==2.0.1
rqt-bag==1.1.6
rqt-bag-plugins==1.1.6
rqt-console==2.0.3
rqt-graph==1.3.2
rqt-gui==1.1.9
rqt-gui-py==1.1.9
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.9
rqt-py-console==1.0.2
rqt-reconfigure==1.1.4
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.1
scikit-image==0.26.0
scikit-learn==1.8.0
scipy==1.17.1
scripts==3.9.0
sensor-msgs==4.9.1
sensor-msgs-py==4.9.1
shape-msgs==4.9.1
shapely==2.1.2
# Editable install with no version control (simple-arm-demo==0.0.0)
-e /home/samidunix/comp_robot_ws/build/simple_arm_demo
simple-parsing==0.1.8
six==1.17.0
sklearn-compat==0.1.5
slam-toolbox==2.6.10
smclib==4.1.4
sortedcontainers==2.4.0
soundata==1.0.1
soundfile==0.13.1
soxr==1.1.0
srdfdom==2.0.7
sros2==0.10.9
statistics-msgs==1.2.2
std-msgs==4.9.1
std-srvs==4.9.1
stereo-msgs==4.9.1
sympy==1.14.0
teleop-twist-keyboard==2.4.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-datasets==4.9.10
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.17.3
termcolor==3.3.0
texttable==1.7.0
# Editable install with no version control (tf-demos==0.0.0)
-e /home/samidunix/comp_robot_ws/build/tf_demos
tf-transformations==1.1.1
tf2-geometry-msgs==0.25.20
tf2-kdl==0.25.20
tf2-msgs==0.25.20
tf2-py==0.25.20
tf2-ros-py==0.25.20
tf2-sensor-msgs==0.25.20
tf2-tools==0.25.20
tf_keras==2.19.0
threadpoolctl==3.6.0
tifffile==2026.3.3
toml==0.10.2
topic-monitor==0.20.9
tqdm==4.67.3
trajectory-msgs==4.9.1
trimesh==4.12.2
turtlebot3-example==2.3.6
turtlebot3-msgs==2.4.0
turtlebot3-teleop==2.3.6
turtlesim==1.4.3
typing_extensions==4.15.0
unique-identifier-msgs==2.2.1
urdfdom-py==1.2.1
urllib3==2.7.0
visualization-msgs==4.9.1
Werkzeug==3.1.8
wrapt==2.1.2
xacro==2.1.1
zipp==3.23.1
